@import "tailwindcss";


@theme {
    --color-primary: ;
    --color-secondary: ;
    --color-text: ;
    --color-background: ;
    --color-accent: ;
}


.main-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.second-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}